.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #000;
  margin-bottom: 30px;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border-bottom: 3px solid #000;
}

.nav-link:hover {
  color: #fdb125;
}

.nav-link.active {
  border-bottom-color: #fdb125;
}