.add-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-form h2 {
  margin: 30px 0 60px;
}

.add-input {
  width: 30%;
  padding: 10px;
  font-size: 20px;
  border: 3px solid #fdb125;
  background-color: #fff;
}

.add-input:focus {
  outline: none;
  color: #000;
  background-color: #fdb125;
}

.add-button {
  padding: 10px;
  font-size: 20px;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #fdb125;
  background-color: #fff;
}

.add-button:hover {
  background-color: #fdb125;
}

.add-check {
  font-size: 20px;
  margin: 30px 0;
}

.add-check input {
  margin-left: 10px;
}