.add-task-form h2 {
  margin: 30px 0 60px;
}

.add-input,
.add-button {
  padding: 10px;
  font-size: 20px;
  border: 3px solid #fdb125;
  background-color: #fff;
}

.add-input:focus {
  outline: none;
  color: #000;
  background-color: #fdb125;
}

.add-button {
  text-transform: uppercase;
  border-left: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #fdb125;
}