.App {
  text-align: center;
}

.task-content {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 5px;
  border-radius: 50px;
  height: 50px;
  font-size: 20px;
  width: 80%;
  margin: 5px 10%;
}

.task-delete-button {
  height: 60%;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.add-input,
.add-button {
  font-size: 20px;
  margin: 30px 0;
  padding: 10px;
  border: 3px solid orange;
  background-color: #fff;
}

.add-input:focus {
  border: 3px solid orange;
}

.add-button {
  text-transform: uppercase;
  border-left: none;
  cursor: pointer;
}

.content {
  margin-left: 15px;
}